<nav class="layout-navbar container-xxl navbar-detached navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
            <i class="icon-base bx bx-menu icon-md"></i>
        </a>
        </div>

    <div class="navbar-nav-right d-flex align-items-center justify-content-end" id="navbar-collapse">
        <!-- Search -->
        <div class="d-flex align-items-center w-100 me-3">
            <!-- <div class="me-2">
                <a href="/admin/items/scan" class="btn btn-sm btn-outline-primary">
                <i class="bx bx-qr-scan"></i> Scan QR
                </a>
            </div> -->

            <!-- Form Search -->
            <form class="d-flex align-items-center" method="get" action="/admin/items/list">
                <div class="input-group">
                    <span class="input-group-text bg-transparent border-0">
                    <i class="bx bx-search"></i>
                    </span>
                    <input type="text" name="search" class="form-control border-0 shadow-none" placeholder="Cari barang..." />
                    <button type="submit" class="btn btn-sm btn-primary">Cari</button>
                </div>
            </form>
        </div>
        <!-- /Search -->

        <a href="/logout" class="btn btn-danger">Logout</a>
    </div>
</nav>